{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block meta %}
<title>Koleksi Buku</title>
<link rel="stylesheet" href="{% static 'css/style3.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock meta %}

{% block content %}
<section id="isiLogin">
    <div class="loginregister container">
        <div id="kotaklogin">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <h2 class="headinglogin">Gabung sekarang!</h2>
                    {{ form|crispy }}
                </fieldset>
                <div class="text-center">
                    <input type="submit" value="Sign Up" class="loginboton">
                </div>
            </form>
            <div class="borderatas">
                <small class="text-muted">
                    Sudah Ada Akun? 
                    <a href="{% url 'login' %}">Login</a>
                </small>
            </div>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock content %}