{% extends 'base.html' %}
{% load static %}

{% block meta %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css_story3/style2.css' %}">
<link rel="stylesheet" href="{%static 'css/bootstrap.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap" rel="stylesheet">
<title>Story 3 Vanessa</title>
{% endblock meta %}

{% block content %}
<div id="content">
    <img src="{% static 'story_3/smile.png' %}" class="smile" />

    <!--Header-->
    <div class="container">
      <a class="button" href="{% url 'aboutme' %}">ABOUT ME</a>
      <a class="button" href="{% url 'myexperience' %}">MY EXPERIENCE</a>
    </div>
    <hr>

<section class="box row">
    <!--Profile-->
    <!--Desktop-->
    <div class="col-xl-9 col-lg-8 col-md-7">
        <h1>Profile</h1>
        <p>
            Nama: Vanessa Emily Agape<br>
            NPM: 1906350793<br>
            Angkatan: 2019<br>
            Berkuliah di: Fakultas Ilmu Komputer, Universitas Indonesia
        </p>
        <p style="margin-top: 0px; padding-top: 20px;">
            Saya adalah mahasiswa yang normal yang sedang berjuang di Fasilkom.
            Saya tertarik dalam web development jadi semoga saya dapat mendapat banyak
            pengetahuan dalam pelajaran PPW ini :)
        </p>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-5 rightimg">
        <img class="rightimg" src="{% static 'story_3/haha.png' %}" />
    </div>

    <!--Mobile-->
    <div class="col-xl-1 col-lg-2 col-md-3">
        <img class="rightimg" src="{% static 'story_3/haha.png' %}" />
    </div>
    <div class="col-xl-10 col-lg-11 col-md-12">
        <h1>Profile</h1>
        <p>
            Nama: Vanessa Emily Agape<br>
            NPM: 1906350793<br>
            Angkatan: 2019<br>
            Berkuliah di: Fakultas Ilmu Komputer, Universitas Indonesia
        </p>
        <p style="margin-top: 0px; padding-top: 20px;">
            Saya adalah mahasiswa yang normal yang sedang berjuang di Fasilkom.
            Saya tertarik dalam web development jadi semoga saya dapat mendapat banyak
            pengetahuan dalam pelajaran PPW ini :)
        </p>
    </div>
</section>

<section class="box" style="margin-top: 50px">
    <!--Hobby-->
    <h1>Hobby</h1>
    <ul>
        <li>Menggambar</li>
        <li>Youtube-an</li>
        <li>Main Dragon Raja</li>
    </ul>
</section>

<section class="box" style="margin-top: 50px;">
    <!--Riwayat Pendidikan-->
    <h1>Riwayat Pendidikan</h1>
    <table class="desktoptable">
        <!--Table Desktop View-->
        <tr>
            <th style="font-family: 'Open Sans', sans-serif;">Jenjang Pendidikan</th>
            <th style="font-family: 'Open Sans', sans-serif">Nama Institusi Pendidikan</th>
            <th style="font-family: 'Open Sans', sans-serif">Tahun</th>
        </tr>
        <tr>
            <td>TK</td>
            <td>Mardi Yuana Depok</td>
            <td>2005-2007</td>
        </tr>
        <tr>
            <td>SD</td>
            <td>Mardi Yuana Depok</td>
            <td>2007-2013</td>
        </tr>
        <tr>
            <td>SMP</td>
            <td>Pangudi Luhur</td>
            <td>2013-2016</td>
        </tr>
        <tr>
            <td>SMA</td>
            <td>Kolese Gonzaga</td>
            <td>2016-2019</td>
        </tr>
        <tr>
            <td>Kuliah</td>
            <td>Universitas Indonesia</td>
            <td>2019-sekarang</td>
        </tr>
    </table>
    <table class="mobiletable" style="border: 1px solid #B80201;">
        <!--Table Mobile View-->
        <tr>
            <td><b>TK</b><br>
                Mardi Yuana Depok<br>
                2005-2007
            </td>
        </tr>
        <tr>
            <td><b>SD</b><br>
                Mardi Yuana Depok<br>
                2007-2013
            </td>
        </tr>
        <tr>
            <td><b>SMP</b><br>
                Pangudi Luhur<br>
                2013-2016
            </td>
        </tr>
        <tr>
            <td><b>SMA</b><br>
                Kolese Gonzaga<br>
                2016-2019
            </td>
        </tr>
        <tr>
            <td><b>Kuliah</b><br>
                Universitas Indonesia<br>
                2019-sekarang
            </td>
        </tr>
    </table>
</section>
<hr>
  <section>
    <p class="footer">© Story 3 PPW</p>
    <div>
      <a href="https://www.pixiv.net/en/users/18022325" style="text-decoration: none;">
        <img class="medsos" src="{% static 'story_3/pixiv.png' %}">
      </a>
      <a href="https://www.linkedin.com/in/vanessa-emily-agape-a548661b1/">
        <img class="medsos" src="{% static 'story_3/linkedin(web).png' %}">
      </a>
    </div>
  </section>
</div>
{% endblock content %}