.welcome {
    padding: 50px;
    background-color: #dfe0d4;
    color: #ff5335;
    margin: auto;
    animation: naek .6s ease forwards;
}

.matkul {
    padding: 50px;
    background-color: #3e92a3;
    color: #dfe0d4;
    margin: auto;
    animation: naek .6s ease forwards;
}

h1 {
    font-weight: 800;
}

p {
    vertical-align: middle;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

h3 {
    margin: 0px;
    color: #ff5335;
    text-align: center;
}

h4 {
    color: #dfe0d4;
    text-align: center;
    margin: auto;
}

#spongbob {
    width: 100%;
}

h2 {
    font-size: 40px;
}

.h2Forms {
    font-size: 40px;
    color: #ff5335;
    margin-bottom: 40px;
}

.spacings {
    margin-right: 20px;
}

.inputs {
    font-size: 16px;
}

.inputbox {
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.submitboton {
    background-color: #3e92a3;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 10px;
    margin-top: 20px;
    color: #dfe0d4;
    transition-duration: 0.3s;
    transition-property: all;
}

.submitboton:hover {
    background-color: #2c6e7b;
    color: #c5c6bb;
}

.namanya{
    background: none;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: #ff5335;
    transition-property: all;
    transition-duration: 0.3s;
}

.namanya:hover {
    color: #dd482d;
}

.details {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.namamatkul {
    margin: 0px 0px 30px 0px;
    color: #ff5335;
    text-align: center;
    font-size: 50px;
}

.yo {
    color: #dfe0d4;
}

.bolder {
    font-weight: 800;
    margin-right: 20px;
}

.ditel {
    text-align: left;
}

.list {
    text-align: center;
    height: 100%;
    vertical-align: middle;
}

.headingform {
    margin: 0px 0px 30px 0px;
}

.headinglist {
    margin: 0px 0px 30px 0px;
    display: none;
}

.delete {
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 16px;
    border: 1px solid #ff0a0a;
    background-color: transparent;
    padding: 20px 50px 20px 50px;
    color: #ff0000;
    transition-duration: 0.3s;
    transition-property: all;
}

.delete:hover {
    background-color: #c20000;
    color: rgb(214, 211, 211);
}
.stories {
    padding: 50px;
    background-color: #353535;
    color:  #3e92a3;
    animation: naek .8s ease forwards;
}

.col-lg-8, .col-md-7, .col-xl-9 {
    text-align: right;
    vertical-align: middle;
}

.box {
    padding-bottom: 33px;
    padding-top: 33px;
    text-align: left;
    box-shadow: 0px 0px 30px #111010;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.5s;
    margin-top: 30px;
    color: #3e92a3;
    padding-left: 20px;
    padding-right: 20px;
    transition-property: box-shadow, color, background-color, transform, margin, display;
}

.box > .penjelasan {
    display: none;
}

.box > .link {
    display: none;
}

.box:hover {
    background-color: #dfe0d4;
    transform: scale(1.03);
    box-shadow: 0px 0px 10px #2c2c2c;
    color: #353535;
}

.box:hover > .clickme {
    display: none;
}

.box:hover > .penjelasan {
    display: block;
}

.box:hover > .link {
    display: block;
}

.boxlist {
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    box-shadow: 0px 0px 30px #111010;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.5s;
    margin-top: 10px;
    color: #3e92a3;
    padding-left: 20px;
    padding-right: 20px;
    transition-property: box-shadow, color, background-color, transform, margin, display;
}

.boxlist:hover {
    background-color: #dfe0d4;
    transform: scale(1.03);
    box-shadow: 0px 0px 10px #2c2c2c;
    color: #ff5335;
}

.listkotak {
    text-decoration: none;
}

.listkotak:hover {
    text-decoration: none;
}

.content {
    text-align: center;
    width: 100%;
    margin: auto;
}

.clickme {
    font-weight: 300;
    font-style: italic;
    font-size: 16px;
    text-align: center;
    color: #ff5335;
}

.penjelasan {
    color: #3e92a3;
    text-align: center;
    font-size: 18px;
}

.link {
    text-align: center;
    font-size: 18px;
}

a {
    color: #3e92a3;
    transition-duration: 0.3s;
    transition-property: color;
}
a:hover {
    color: #ff5335;
}

.footer {
    background-color: #3e92a3;
    color: #dfe0d4;
    padding: 30px;
    text-align: center;
}

.jempol {
    width: 10%;
    margin-bottom: 10px;
}

#up {
    position: fixed;
    right: 10px;
    bottom: 100px;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #ff5335;
    border-radius: 50%;
    border: none;
}

 #up:active {
     background: #dd482d;
 }

 .bg {
     position: absolute;
     top: 0;
     bottom: 0;
     right: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #dfe0d4;
     margin: auto;
 }

.aye {
    margin: 0 auto;
    resize: auto;
    background-color: #dd482d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: none;
}

.stories > .content {
    animation: naek .9s ease forwards;
}

.headingkeg {
    font-size: 30px;
}

.boxkeg {
    padding-bottom: 33px;
    padding-top: 33px;
    text-align: left;
    box-shadow: 0px 0px 30px #111010;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.5s;
    margin-top: 30px;
    color: #353535;
    padding-left: 20px;
    padding-right: 20px;
    transition-property: all;
    background-color: #dfe0d4;
    text-align: center;
}

.boxkeg:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 10px #2c2c2c;
}

.namakeg {
    text-align: center;
    padding: 0;
    margin: 0;
    color: #ff5335;
    font-size: 30px;
}

.orang {
    font-size: 18px;
    font-style: italic;
    margin: 5px;
}

.orangnew {
    font-style: normal;
    font-size: 18px;
    margin: 5px;
}

.boxpeserta {
    padding-bottom: 33px;
    padding-top: 33px;
    text-align: left;
    box-shadow: 0px 0px 30px #111010;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.5s;
    margin-top: 30px;
    color: #353535;
    padding-left: 20px;
    padding-right: 20px;
    transition-property: all;
    background-color: #dfe0d4;
    text-align: center;
}

.boxpeserta:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 10px #2c2c2c;
}

.judulkeg {
    color: #ff5335;
    margin-bottom: 15px;
}

.sudahada {
    margin: 40px 0px 0px 0px;
}

.kamumau {
    color: #3e92a3;
}

.pesertan {
    text-align: center;
}

.namakegi {
    color: #ff5335;
    font-size: 40px;
}

.jelmaan {
    color: #dfe0d4;
    font-weight: 300;
    text-decoration: none;
}

.jelmaan:hover {
    text-decoration: none;
    color: #ff5335;
}

#accordion {
    max-width: 1000px;
    margin: auto;
}
#accordion .ui-state-default {
    color: #ff5335;
    background-color: #dfe0d4;
    border: none;
}

#accordion .ui-state-active{
    color: #dfe0d4 !important;
    background-color: #ff5335;
    border: none;
}

#accordion .ui-accordion-header {
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    text-align: left;
}

#accordion .ui-widget-content {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    background-color: transparent;
    color: #3e92a3;
    font-size: 18px;
    border: 1px solid #ff5335;
}

#accordion .ui-icon {
    margin-top: auto;
    margin-bottom: auto;
}

.header {
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: normal;
    color: inherit;
}

.accordion-header {
    width: 100%;
    height: 100%;
    margin: auto;
}

.flexing {
    display: flex !important;
    flex-direction: row;
}

.ikon {
    display: flex;
    flex-direction: row;
}

.atas, .bawah {
    border: 2px solid black;
    margin: 2px;
}

.accordion-text {
    font-size: 18px;
}

.atas:hover, .bawah:hover {
    background-color: rgba(0, 0, 0, 0.2)
}
/*keyframes */
@keyframes naek {
    0% {
        transform: translateY(300px);
    }
    100% {
        transform: translateY(0px);
    }
}

/*frameworks*/
@media (max-width: 576px) {
    h1 {
        font-size: 35px;
    }
    .col-lg-8, .col-md-7, .col-xl-9 {
        text-align: center;
    }
    p {
        font-size: 20px;
    }
    h2 {
        text-align: center;
        font-size: 27px;
    }
    .jempol {
        width: 20%;
    }
    .form {
        text-align: center;
        margin-top: 0;
    }
    .spacings {
        margin-bottom: 20px;
    }
    textarea {
        width: 230px;
    }
    .ditel {
        text-align: center;
    }
    .bolder {
        margin-right: 10px;
    }
    .submitboton {
        margin-bottom: 30px;
    }
    .namamatkul {
        font-size: 40px;
    }
    .orangnew {
        text-align: center;
    }
    .kamumau {
        text-align: center;
    }
    .sudahada {
        text-align: center;
        margin: 15px 0px 0px 0px;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 50px;
    }
    p {
        font-size: 20px;
    }
    h2 {
        font-size: 30px;
    }
    .jempol {
        width: 10%;
    }
    .form {
        margin-top: 0;
    }
    .spacings {
        margin-bottom: 20px;
    }
    textarea {
        width: 230px;
    }
    .ditel {
        text-align: center;
    }
    .bolder {
        margin-right: 10px;
    }
    .headingform {
        font-size: 40px;
    }

}

@media (min-width: 1200px) {
    .accordion-text {
        font-size: 22px;
    }
    h1 {
        font-size: 60px;
    }
    .box {
        padding-left: 30px;
        padding-right: 30px;
    }
    .jempol {
        width: 5%;
    }
    h2 {
        font-size: 40px;
    }
    p {
        font-size: 30px;
    }
    .bolder {
        font-size: 20px;
    }
    .yo {
        font-size: 20px;
    }
    .judulkeg {
        font-size: 30px;
    }
    .orangnew {
        font-size: 18px;
    }
    .headingkeg {
        font-size: 40px;
    }
}
