{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Website Vanessa</title>
<link rel="stylesheet" href="{% static 'css/style3.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300, 800">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock meta %}

{% block content %}
<section id="helloworld">
  <div class="welcome row">
    <div class="col-xl-3 col-lg-4 col-md-5">
      <img id="spongbob" src="{% static 'img/spongbob.gif' %}">
    </div>
    <div class="col-lg-8 col-md-7 col-xl-9">
      <h1>Hello, world!</h1>
      <p>Website ini adalah terminal untuk story-story PPW milik saya,
        Vanessa :D
      </p>
    </div>
  </div>
</section>

<section id="ppws">
  <div class="stories">
    <h2 style="margin: 0px 0px 30px 0px;">Story-story PPW saya</h2>
    <div class="content">
      <section class="row" style="text-align: cemter;">
        <div class="col-xl-4 col-lg-5 col-md-6">
          <div class="box" onclick="">
            <h3> Story 1</h3>
            <p class="clickme">Hover / Touch me!</p>
            <p class="penjelasan">
              #1 Intro to WebPro<br>
              Membuat website mengenai profile saya dengan simple
            </p>
            <p class="link">
              ><a href="{% url 'index' %}">Hasil Story 1 saya</a>
              < </p>
          </div>
        </div>

        <div class="col-xl-4 col-lg-5 col-md-6">
          <div class="box" onclick="">
            <h3>Story 2</h3>
            <p class="clickme">Hover / Touch me!</p>
            <p class="penjelasan">
              #2 Design Your Own Website<br>
              Membuat wireframe dan prototype suatu website
            </p>
            <p class="link">
              ><a
                href="https://www.figma.com/proto/4i9KTjtrtS8zBCi1U3fLQm/story-2-pepew?node-id=43%3A0&scaling=min-zoom">
                Hasil Story 2 saya</a>
              < </p>
          </div>
        </div>

        <div class="col-xl-4 col-lg-5 col-md-6">
          <div class="box" onclick="">
            <h3>Story 3</h3>
            <p class="clickme">Hover / Touch me!</p>
            <p class="penjelasan">
              #3 HTML Bootstrap<br>
              Membuat website dengan memanfaatkan bootstrap dan CSS files
            </p>
            <p class="link">
              ><a href="{% url 'aboutme' %}">Hasil Story 3 saya</a>
              < </p>
          </div>
        </div>

        <div class="col-xl-4 col-lg-5 col-md-6">
          <div class="box" onclick="">
            <h3>Story 4</h3>
            <p class="clickme">Hover / Touch me!</p>
            <p class="penjelasan">
              #4 Django (Views + Template)<br><br>
              Halaman ini! :D
            </p>
          </div>
        </div>

        <div class="col-xl-4 col-lg-5 col-md-6">
          <div class="box" onclick="">
            <h3>Story 5</h3>
            <p class="clickme">Hover / Touch me!</p>
            <p class="penjelasan">
              Coming Soon!!!
          </div>
        </div>

        <div class="col-xl-4 col-lg-5 col-md-6">
          <div class="box" onclick="">
            <h3>Story 6</h3>
            <p class="clickme">Hover / Touch me!</p>
            <p class="penjelasan">
              Coming Soon!!!
            </p>
          </div>
        </div>

        <div class="col-xl-4 col-lg-5 col-md-6">
          <div class="box" onclick="">
            <h3>Story 7</h3>
            <p class="clickme">Hover / Touch me!</p>
            <p class="penjelasan">
              Coming Soon!!!
            </p>
          </div>
        </div>

        <div class="col-xl-4 col-lg-5 col-md-6">
          <div class="box" onclick="">
            <h3>Story 8</h3>
            <p class="clickme">Hover / Touch me!</p>
            <p class="penjelasan">
              Coming Soon!!!
            </p>
          </div>
        </div>

        <div class="col-xl-4 col-lg-5 col-md-6">
          <div class="box" onclick="">
            <h3>Story 9</h3>
            <p class="clickme">Hover / Touch me!</p>
            <p class="penjelasan">
              Coming Soon!!!
            </p>
          </div>
        </div>

        <div class="col-xl-4 col-lg-5 col-md-6">
          <div class="box" onclick="">
            <h3>Story 10</h3>
            <p class="clickme">Hover / Touch me!</p>
            <p class="penjelasan">
              Coming Soon!!!
            </p>
          </div>
        </div>
    </div>
  </div>
</section>
<a href="#helloworld">
  <button id="up">
    <i class="material-icons">keyboard_arrow_up</i>
  </button>
</a>
<div class="footer">
  <img class="jempol" src="{%static 'img/jempol.gif' %}">
  <h4>© Story 4 PPW</h4>
</div>
{% endblock content %}