{% extends 'storythree.html' %}
{% load static %}

{% block content %}
<section class="box row">
    <!--Organisasi-->

    <!--Desktop-->
    <div class="col-xl-9 col-lg-8 col-md-7">
        <h1>Organisasi</h1>
        <p class="smallHeader">BEM Fasilkom UI 2020<br>Biro Media</p>
        <p style="margin-top: 0px; padding-top: 15px;">
            Saya menjabat sebagai Staff di BEM Fasilkom UI 2020 Biro Media. Saya salah satu penanggung-jawab
            Boolean.
            Jika diperkenankan, silahkan baca Boolean edisi 26 di
            <a href="https://bit.ly/Boolean26Media2020" style="color: #B80201;">
                bit.ly/Boolean26Media2020
            </a>
        </p>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-5 rightimg">
        <img class="rightimg" src="{% static 'img/logo-bem.png' %}" />
    </div>

    <!--Mobile-->
    <div class="col-xl-10 col-lg-11 col-md-12">
        <img src="{% static 'img/logo-bem.png' %}" class="rightimg" />
    </div>
    <div class="col-xl-1 col-lg-2 col-md-3">
        <h1>Organisasi</h1>
        <p class="smallHeader">BEM Fasilkom UI 2020<br>Biro Media</p>
        <p style="margin-top: 0px; padding-top: 15px;">
            Saya menjabat sebagai Staff di BEM Fasilkom UI 2020 Biro Media. Saya salah satu penanggung-jawab
            Boolean.
            Jika diperkenankan, silahkan baca Boolean edisi 26 di
            <a href="https://bit.ly/Boolean26Media2020" style="color: #B80201;">
                bit.ly/Boolean26Media2020
            </a>
        </p>
    </div>
</section>
<section class="box row" style="margin-top: 50px;">
    <!--Kepanitiaan-->

    <!--Desktop-->
    <div class="col-xl-9 col-lg-8 col-md-7">
        <h1>Kepanitiaan</h1>
        <p class="smallHeader">Pesta Rakyat Komputer 2020<br>Visual Design</p>
        <p style="margin-top: 0px; padding-top: 15px;">
            Saya menjabat sebagai Staff di acara Pesta Rakyat Komputer 2020 pada bidang Visual Design.
        </p>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-5 rightimg">
        <img class="rightimg" src="{% static 'img/perak(web).png' %}" />
    </div>

    <!--Mobile-->
    <div class="col-xl-1 col-lg-2 col-md-3">
        <img class="rightimg" src="{% static 'img/perak(web).png' %}" />
    </div>
    <div class="col-xl-10 col-lg-11 col-md-12">
        <h1>Kepanitiaan</h1>
        <p class="smallHeader">Pesta Rakyat Komputer 2020<br>Visual Design</p>
        <p style="margin-top: 0px; padding-top: 15px;">
            Saya menjabat sebagai Staff di acara Pesta Rakyat Komputer 2020 pada bidang Visual Design.
        </p>
    </div>
</section>
<section class="box" style="margin-top: 50px;text-align: left;">
    <!--Karya Gambar-->
    <h1>Karya Gambar</h1>
    <div class="column">
        <div class="pic">
            <img src="{% static 'img/kugutsu.jpg' %}" width="100%">
        </div>
        <div class="pic">
            <img src="{% static 'img/handicap+.png' %}" width="100%">
        </div>
        <div class="pic">
            <img src="{% static 'img/sorarusbday.png' %}" width="100%">
        </div>
        <div class="pic">
            <img src="{% static 'img/aye.png' %}" width="100%">
        </div>
        <div class="pic">
            <img src="{% static 'img/weeee.png' %}" width="100%">
        </div>
        <div class="pic">
            <img src="{% static 'img/reimu.png' %}" width="100%">
        </div>
    </div>
</section>
{% endblock content %}