{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Jadwal Matkul Vanessa</title>
<link rel="stylesheet" href="{% static 'css/style3.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
{% endblock meta %}

{% block content %}
<section id="Judul">
    <div class="welcome row">
        <div class="col-xl-3 col-lg-4 col-md-5">
            <img id="spongbob" src="{% static 'kegiata_n/gila.gif' %}">
        </div>
        <div class="col-lg-8 col-md-7 col-xl-9">
            <h1>Daftar Kegiatan Vanessa</h1>
            <p>Ayuk kita berkegiatan</p>
        </div>
    </div>
</section>

<section id="isiForm">
    <div class="stories">
        <h2 class="headingkeg">Daftar Kegiatan</h2>
        <p>Klik kegiatan yang kamu mau untuk mendaftar :D</p>
        <form class="form" action="savekegiatan" method="POST">
            {% csrf_token %}
            <p class="inputs">{{ kegiatan.nama }}</p>
            <input type="submit" value="+ Kegiatan" class="submitboton">
        </form>
        {% if kegiatans %}
        <div class="row">
            {% for kegiatan in kegiatans %}
            <div class="col-lg-4 col-xl-4 col-md-4">
            <a class="listkotak" href="{% url 'detailkeg' angka=kegiatan.id %}"><div class="boxlist">
                <h4>{{ kegiatan.nama }}</h4>
                <ul>
                    {% for orang in orangs %}
                    {% if orang.kegiatan.nama == kegiatan.nama %}
                    <li>{{ orang.orang }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div></a>
            <br>
            </div>
            {% endfor %}
            {% endif %}
    </div>
</section>

<a href="#Judul">
    <button id="up">
        <i class="material-icons">keyboard_arrow_up</i>
    </button>
</a>

<div class="footer">
    <img class="jempol" src="{%static 'img/jempol.gif' %}">
    <h4>© Story 6 PPW</h4>
</div>
{% endblock content %}